@import "tailwindcss";

@theme {
  /* COLORS */
  --color-poke-primary: #ffcb05;
  --color-poke-primary-dark: #c7a008;
  --color-poke-secondary: #3466af;
  --color-poke-secondary-dark: #1d2c5e;

  --color-normal: #a8a77a;
  --color-fire: #ee8130;
  --color-water: #6390f0;
  --color-electric: #f7d02c;
  --color-grass: #7ac74c;
  --color-ice: #96d9d6;
  --color-fighting: #c22e28;
  --color-poison: #a33ea1;
  --color-ground: #e2bf65;
  --color-flying: #a98ff3;
  --color-psychic: #f95587;
  --color-bug: #a6b91a;
  --color-rock: #b6a136;
  --color-ghost: #735797;
  --color-dragon: #6f35fc;
  --color-dark: #705746;
  --color-steel: #b7b7ce;
  --color-fairy: #d685ad;

  /* SHADOW */
  --card-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);

  /* BREAKPOINTS */
  --breakpoint-6xl: 72rem;
}
